
<p style="text-align: center;"><span style="font-family:georgia,serif;"><span style="font-size:28px;"><strong>{{ name }}</strong></span></span></p>

<p style="text-align: center;"><span style="font-size:14px;">{{ number }} &bull;&nbsp;{{ email }}</span></p>

<p style="text-align: center;"><span style="font-size:14px;">{{ address1}}{{address2 }}</span></p>

<p><span style="font-size: 12px;"><span style="font-size:18px;"><span style="font-size:20px;">EDUCATION</span></span></span></p>

<hr />
<p><strong>{{ college }},</strong>&nbsp;{{ major }}</p>

<p>- {{ gpac }}</p>

<p>- {{ coursework }}</p>

<p><b>{{ highschool }}</b></p>

<p>- {{ gpahs }}</p>

<p>&nbsp;</p>

<p><span style="font-size:20px;">EXPERIENCE</span></p>

<hr />
<p><strong>{{activity1}},&nbsp;</strong><em>{{position1}}</em></p>

<p>- {{description1}}</p>

<p><strong>{{activity2}},</strong>&nbsp;<em>{{position2}}</em></p>

<p>- {{description2}}</p>

<p><strong>{{activity3}},</strong>&nbsp;<em>{{position3}}</em></p>

<p>- {{description3}}</p>

<p>&nbsp;</p>

<p><span style="font-size:20px;">PROGRAMMING PROJECTS</span></p>

<hr />
<p><b>{{project1}}</b></p>

<p>- {{description1}}</p>

<p><strong>{{project2}}</strong></p>

<p>- {{description2}}</p>

<p><span style="font-size:20px;">SKILLS &amp; INTERESTS</span></p>

<hr />
<p>Coding Languages</p>

<p>- {{languages}}</p>

<p>Interests</p>

<p>-{{interest1}}</p>
